.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
package-lock.json
vue2-master.zip
vue2-master/
vuex2-master.zip
vuex2-master/
.vscode
